<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>To-do List</title>
    <link rel="stylesheet" href="styles.css">
  </head>
  <body>
    <div class="box" id="heading">
      <h1><%= kindOfDay %>!</h1>
    </div>
    <div class="box">

      <div class="item">

        <input type="checkbox" name="" value=""><p>Buy Food</p>
      </div>
      <div class="item">

        <input type="checkbox" name="" value="">
        <p>Cook Food</p>
      </div>
      <div class="item">

        <input type="checkbox" name="" value="">
        <p>Eat Food</p>
      </div>
        <!-- <li><%= newItem %></li> -->

        <% for(var i=0;i<newItem.length;i++){ %>
          <div class="item">

            <input type="checkbox" name="" value="">
            <p>
              <%= newItem[i] %>
            </p>
          </div>
          <% } %>

          <form action="/" method="post">
            <input type="text" name="toDoItem" placeholder="Enter your next task" autocomplete="off">
            <button type="submit" name="button">+</button>
          </form>
    </div>






  </body>
</html>
